<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container-fluid col-md-12">

    <a class="btn btn-info btn-sm" onclick="showModal('addGroup',0,'')">Add group</a>

    <table class="table table-condensed table-hover table-bordered">
        <thead>
        <tr class="text-center">
            <th>Prefix group name</th>
            <th>Available prefixes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${groups.isEmpty()}">
            <td colspan="3" class="text-center"> No groups available</td>
        </tr>
        <tr th:each="group:${groups}">
            <td>
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${group.groupName}"></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"
                               th:onclick="'showModal(\'editGroup\','+${group.groupId}+')'"> edit</a>
                        </li>
                        <li><a href="#"
                               th:onclick="'showModal(\'deleteGroup\','+${group.groupId}+')'"> delete</a>
                        </li>
                    </ul>

                </span>
            </td>
            <td>
                <span class="dropdown" th:each="item:${group.prefixes}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${item.prefix}+','"></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"
                               th:onclick="'showModal(\'editPrefix\','+${item.id}+')'"> edit</a>
                        </li>
                        <li><a href="#"
                               th:onclick="'showModal(\'deletePrefix\','+${item.id}+')'"> delete</a>
                        </li>
                    </ul>
                </span>
            </td>
            <td>
                <a href="#" th:onclick="'showModal(\'addPrefix\','+${group.groupId}+')'">
                    add new prefix
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalAddHeader"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="saveType">
                    <input type="hidden" id="saveId">
                    <input type="hidden" id="prefixGroupId">
                     <input id="inputModalName" required="required" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="saveElement()">Save</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalDeleteHeader"></h4>
                <input type="hidden" id="deleteType">
                <input type="hidden" id="deleteId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="deleteElement()">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    function showModal(type, elementId) {
        var modalWindow = $('#modalAdd');
        var saveIdEl = $('#saveId');
        var saveTypeEl = $('#saveType');
        var prefixGroupIdEl = $('#prefixGroupId');
        var inputNameEl = $('#inputModalName');
        var modalHeader = $('#modalAddHeader');
        var modalDeleteHeader = $('#modalDeleteHeader');
        var deleteIdEl = $('#deleteId');
        var deleteTypeEl = $('#deleteType');
        saveIdEl.val(0);
        deleteIdEl.val(0);
        prefixGroupIdEl.val('');
        inputNameEl.val('');
        modalHeader.text('');
        modalDeleteHeader.text('');
        saveTypeEl.val('');
        deleteTypeEl.val('');
        if (type === 'addGroup') {
            modalHeader.text('Add new group:');
            inputNameEl.prop('type', 'text');
            saveTypeEl.val('group');
        } else if (type === 'addPrefix') {
            modalHeader.text('Add new prefix:');
            prefixGroupIdEl.val(elementId);
            inputNameEl.prop('type', 'number');
            saveTypeEl.val('prefix');
        } else if (type === 'editPrefix') {
            modalHeader.text('Edit prefix:');
            inputNameEl.prop('type', 'number');
            renderById(elementId, 'prefix');
            saveIdEl.val(elementId);
            saveTypeEl.val('prefix');
        } else if (type === 'editGroup') {
            modalHeader.text('Edit group:');
            inputNameEl.prop('type', 'text');
            renderById(elementId, 'group');
            saveIdEl.val(elementId);
            saveTypeEl.val('group');
        } else if (type === 'deletePrefix') {
            modalWindow = $('#deleteConfirm');
            modalDeleteHeader.text('Delete prefix?');
            deleteIdEl.val(elementId);
            deleteTypeEl.val('prefix');
        } else if (type === 'deleteGroup') {
            modalWindow = $('#deleteConfirm');
            modalDeleteHeader.text('Delete group?');
            deleteIdEl.val(elementId);
            deleteTypeEl.val('group');
        }
        modalWindow.modal('show');
    }

    function saveElement() {
        var elementValue = $('#inputModalName').val();
        var prefixGroupId = $('#prefixGroupId').val();
        var saveId = $('#saveId').val();
        var data, url;
        if ($('#saveType').val() === 'group') {
            url = "/prefix/saveGroup";
            data = {"groupId": saveId, "groupName": elementValue};
        } else {
            url = "/prefix/savePrefix";
            data = {"prefixId": saveId, "prefix": elementValue, "groupId": prefixGroupId};
        }
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: url,
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#modalAdd').modal('hide');
                window.location.reload();
            },
            error: function (errors) {

            }
        });
    }

    function renderById(id, type) {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            url: type === 'prefix' ? "/prefix/getPrefixById" : "/prefix/getGroupNameById",
            data: {"id": id},
            success: function (result) {
                if (type === 'prefix') {
                    $('#prefixId').val(result.id);
                    $('#inputModalName').val(result.prefix);
                } else {
                    $('#groupId').val(result.id);
                    $('#inputModalName').val(result.groupName);
                }
            }
        })
    }

    function deleteElement() {
        var data, url;
        if ($('#deleteType').val() === 'group') {
            data = {"groupId": $('#deleteId').val()};
            url = '/prefix/deleteGroup';
        } else {
            data = {"prefixId": $('#deleteId').val()};
            url = '/prefix/deletePrefix';
        }
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: url,
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#deleteConfirm').modal('hide');
                window.location.reload();
            },
            error: function (errors) {

            }
        });
    }

</script>

</body>