<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <title>BulkSMS - SMS preview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style th:replace="fragments/head"> </style>
</head>

<body>

<div th:replace="fragments/navbar"></div>

<div class="container-fluid col-md-12">

    <a class="btn btn-info" th:href="@{/preview/create}">Create preview</a>

    <table class="table table-condensed table-bordered">
        <thead>
        <tr>
            <th>User</th>
            <th>Name</th>
            <th>Send date</th>
            <th>Priority</th>
            <th>TPS</th>
            <th>Originator</th>
            <th>Recipients</th>
            <th>Messages to send</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${previews.isEmpty()}">
            <td colspan="11" class="text-center">No previews available</td>
        </tr>
        <tr th:each="item: ${previews}">
            <td th:text="${item.username}"> user</td>
            <td>
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${item.name}"></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/preview/edit}"> edit</a>
                        </li>
                        <li><a href="#"
                               th:onclick="'showDeleteModal('+${item.previewId}+')'"> delete</a>
                        </li>
                    </ul>
                </span>
            </td>
            <td th:text="${item.sendDate}"> send date</td>
            <td th:text="${item.priority}"> priority</td>
            <td th:text="${item.tps}"> tps</td>
            <td th:text="${item.smppAddress}"></td>
            <td th:text="${item.recipientsCount}"> recipients count</td>
            <td th:text="${item.totalParts - item.totalSent}"> total to send</td>
            <td>
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${item.status}"></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:if="${item.status}=='CREATED'"
                               th:onclick="'showChangeStatusModal('+${item.previewId}+',\'SAVED\')'"> save</a></li>
                        <li><a href="#" sec:authorize="hasRole('ROLE_MODERATOR')"
                               th:onclick="'showChangeStatusModal('+${item.previewId}+',\'APPROVED\')'"> approve</a></li>
                        <li><a href="#" sec:authorize="hasRole('ROLE_MODERATOR')"
                               th:onclick="'showChangeStatusModal('+${item.previewId}+',\'REJECTED\')'"> reject</a></li>
                    </ul>
                </span>
            </td>

        </tr>
        </tbody>
    </table>

</div>

<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalHeader"></h4>
                <input type="hidden" id="deletePreviewId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="deleteElement()">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div id="changeStatusConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal2Header"></h4>
                <input type="hidden" id="previewId">
                <input type="hidden" id="newStatus">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="changeStatus()">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

</body>

<script type="text/javascript">

    function showDeleteModal(previewId, previewName) {
        $('#modalHeader').text('Delete preview \'' + previewName + '\'?');
        $('#deletePreviewId').val(previewId);
        $('#deleteConfirm').modal('show');
    }

    function deleteElement() {
        var data = {"previewId": $('#deletePreviewId').val()};
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/preview/delete',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#deleteConfirm').modal('hide');
                window.location.reload();
            },
            error: function (errors) {

            }
        });
    }

    function showChangeStatusModal(previewId, newStatus) {
        $('#modal2Header').text('Change preview status to \'' + newStatus + '\'?');
        $('#previewId').val(previewId);
        $('#newStatus').val(newStatus);
        $('#changeStatusConfirm').modal('show');
    }

    function changeStatus() {
        var data = {
            "previewId": $('#previewId').val(),
            "status": $('#newStatus').val()
        };
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/preview/changeStatus',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#changeStatusConfirm').modal('hide');
                window.location.reload();
            },
            error: function (errors) {

            }
        });
    }

</script>

</html>