<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container">

    <a class="btn btn-info" th:href="@{/preview/create}">Create preview</a>

    <table class="table table-condensed table-bordered">
        <thead>
        <tr>
            <th>User</th>
            <th>Name</th>
            <th>Send date</th>
            <th>Priority</th>
            <th>TPS</th>
            <th>Originator</th>
            <th>Recipients</th>
            <th>Messages to send</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${previews.isEmpty()}">
            <td colspan="11" class="text-center">No previews available</td>
        </tr>
        <tr th:each="item: ${previews}">
            <td th:text="${item.username}"> user</td>
            <td>
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${item.name}"></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/preview/edit}"> edit</a>
                        </li>
                        <li><a href="#"
                               th:onclick="'showModal('+${item.previewId}+',\''+${item.name}+'\')'"> delete</a>
                        </li>
                    </ul>
                </span>
            </td>
            <td th:text="${item.sendDate}"> send date</td>
            <td th:text="${item.priority}"> priority</td>
            <td th:text="${item.tps}"> tps</td>
            <td th:text="${item.smppAddress}"></td>
            <td th:text="${item.recipientsCount}"> recipients count</td>
            <td th:text="${item.totalParts - item.totalSent}"> total to send</td>
            <td th:text="${item.status}"> status</td>

        </tr>
        </tbody>
    </table>


</div>

<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalHeader"></h4>
                <input type="hidden" id="deletePreviewId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="deleteElement()">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

</body>

<script type="text/javascript">

    function showModal(previewId, previewName) {
        $('#modalHeader').text('Delete preview \'' + previewName + '\'?');
        $('#deletePreviewId').val(previewId);
        $('#deleteConfirm').modal('show');
    }

    function deleteElement() {
        var data = {"previewId": $('#deletePreviewId').val()};
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/preview/delete',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#deleteConfirm').modal('hide');
                window.location.reload();
            },
            error: function (errors) {

            }
        });
    }

</script>