<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container">

    <a class="btn btn-primary" th:href="@{/preview/create}">Create preview</a>

    <table class="table">
        <thead>
        <tr>
            <th>Account</th>
            <th>User</th>
            <th>Name</th>
            <th>Create date</th>
            <th>Send date</th>
            <th>SMS Type</th>
            <th>Priority</th>
            <th>TPS</th>
            <th>Recipients</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${previews.isEmpty()}">
            <td colspan="10"> No previews available</td>
        </tr>
        <tr th:each="item: ${previews}">
            <td th:text="${item.accountName}"> account</td>
            <td th:text="${item.username}"> user</td>
            <td th:text="${item.name}"> name</td>
            <td th:text="${item.createDate}"> create date</td>
            <td th:text="${item.sendDate}"> send date</td>
            <td th:text="${item.type}"> type</td>
            <td th:text="${item.priority}"> priority</td>
            <td th:text="${item.tps}"> tps</td>
            <td th:text="${item.recipientsCount}"> recipients count</td>
            <td th:text="${item.status}"> status</td>
            <td>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">...
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/preview/edit}">edit</a></li>
                    <li><a href="#">stop</a></li>
                    <li><a href="#">resume</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>


</div>

<div id="previewModalForm" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New preview:</h4>
            </div>
            <div class="modal-body form-horizontal">

                <input type="hidden" id="userId">
                <input type="hidden" id="accountId">

                <div class="form-group">
                    <label for="sendDate" class="control-label col-sm-3">Send date:</label>
                    <div class="col-sm-8">
                        <input type="datetime-local" class="form-control" placeholder="Send date" id="sendDate"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="type" class="control-label col-sm-2">Type:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="type">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="priority" class="control-label col-sm-2">Priority:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="priority">
                            <option>
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tps" class="control-label col-sm-2">TPS:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="tps"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="text" class="control-label col-sm-2">Message text:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control input-sm" rows="5" id="text"> </textarea>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" onclick="savePreview()"> Save</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>

</body>

<script type="text/javascript">

    function openModal() {
        $('#previewModalForm').modal('show');
    }

    function savePreview() {

    }

</script>