<!DOCTYPE html>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">ECM</a>
        </div>
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Main menu
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/preview/list}">SMS Previews</a></li>
                    <li><a th:href="@{/accountData/list}">SMS Files</a></li>
                    <li><a th:href="@{/prefix/list}">Prefixes</a></li>
                    <li><a th:href="@{/smppAddress/list}">Originators</a></li>
                </ul>
            </li>

            <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin menu
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/account/list}">Accounts</a></li>
                    <li><a th:href="@{/user/list}">Users</a></li>
                    <li><a th:href="@{/smscAccount/list}">SMSC</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text" sec:authentication="name">username</p></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>