    <link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css"/>
    <link rel="stylesheet" href="/css/spinner.css" type="text/css"/>
    <link rel="stylesheet" href="/public/bootstrap-3.4.0/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/public/DataTables/datatables.min.css" type="text/css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/bootstrap-3.4.0/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
