<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container-fluid col-md-12">

    <a class="btn btn-info btn-sm" onclick="showModal('add',0)">Add new address</a>

    <table class="table table-condensed table-hover table-bordered">
        <thead>
        <tr class="text-center">
            <th></th>
            <th>Address</th>
            <th>Type of number (TON)</th>
            <th>Numbering plan indicator (NPI)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${smppAddresses.isEmpty()}">
            <td colspan="3" class="text-center"> No addresses available</td>
        </tr>
        <tr th:each="item:${smppAddresses}">
            <td>
                <input type="checkbox">
            </td>
            <td>
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${item.address}"></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"
                               th:onclick="'showModal(\'edit\','+${item.smppAddressId}+')'"> edit</a>
                        </li>
                        <li><a href="#"
                               th:onclick="'showModal(\'delete\','+${item.smppAddressId}+')'"> delete</a>
                        </li>
                    </ul>
                </span>
            </td>
            <td>
                <span th:text="${item.ton.value()}+' - '+${item.ton.name()}"></span>
            </td>
            <td>
                <span th:text="${item.npi.value()}+' - '+${item.npi.name()}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalAddHeader"></h4>
            </div>
            <div class="form-horizontal modal-body">
                <input type="hidden" id="smppAddressId">
                <input type="hidden" id="accountId">
                <div class="form-group">
                    <label for="address" class="control-label col-sm-6">Address:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control input-sm" id="address">
                        <p class="error-message" id="addressMessageError"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ton" class="control-label col-sm-6">Type of number (TON):</label>
                    <div class="col-sm-6">
                        <select class="form-control input-sm" id="ton" required="required">
                            <option th:each="ton:${allTonValues}"
                                    th:value="${ton.name()}"
                                    th:text="${ton.value()}+' - '+${ton.name()}">
                            </option>
                        </select>
                        <p class="error-message" id="tonMessageError"></p>
                    </div>

                </div>
                <div class="form-group">
                    <label for="npi" class="control-label col-sm-6">Numbering plan indicator (NPI):</label>
                    <div class="col-sm-6">
                        <select class="form-control input-sm" id="npi">
                            <option th:each="npi:${allNpiValues}"
                                    th:value="${npi.name()}"
                                    th:text="${npi.value()}+' - '+${npi.name()}">
                            </option>
                        </select>
                        <p class="error-message" id="npiMessageError"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="saveElement()">Save</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete SMPP address?</h4>
                <input type="hidden" id="deleteSmppAddressId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="deleteElement()">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    function showModal(type, elementId) {
        clearErrors();
        var modalWindow = $('#modalAdd');
        var addressEl = $('#address');
        var tonEl = $('#ton');
        var npiEl = $('#npi');
        var deleteSmppAddressId = $('#deleteSmppAddressId');
        var headerTextEl = $('#modalAddHeader');
        addressEl.val('');
        tonEl.val(0);
        npiEl.val(0);
        if (type === 'add') {
            headerTextEl.text('Add new SMPP address:');
        } else if (type === 'edit') {
            renderById(elementId);
            headerTextEl.text('Edit SMPP address:');
        } else if (type === 'delete') {
            modalWindow = $('#deleteConfirm');
            deleteSmppAddressId.val(elementId);
        }
        modalWindow.modal('show');
    }

    function renderById(addressId) {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            url: "/smppAddress/getById",
            data: {"id": addressId},
            success: function (result) {
                $('#accountId').val(result.accountId);
                $('#smppAddressId').val(result.id);
                $('#address').val(result.address);
                $('#ton').val(result.ton);
                $('#npi').val(result.npi);
            }
        })
    }

    function clearErrors() {
        var sel = $("p[id*='MessageError']");
        sel.text('');
        sel.parent().removeClass('has-error');
    }

    function saveElement() {
        clearErrors();
        var data = {
            "smppAddressId": $('#smppAddressId').val(),
            "address": $('#address').val(),
            "ton": $('#ton').val(),
            "npi": $('#npi').val(),
            "accountId": $('#accountId').val()
        };
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "/smppAddress/save",
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function (result) {
                if (result.valid) {
                    $('#modalAdd').modal('hide');
                    window.location.reload();
                } else {
                    $.each(result.errors, function (i, error) {
                        var element = $('#' + error.field + 'MessageError');
                        element.text(error.defaultMessage);
                        element.parent().addClass('has-error');
                    })
                }
            },
            error: function (errors) {
                $('#modalAdd').modal('hide');
                alert(errors);
            }
        });
    }

    function deleteElement() {
        var data = {"smppAddressId": $('#deleteSmppAddressId').val()};
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/smppAddress/delete',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#deleteConfirm').modal('hide');
                window.location.reload();
            },
            error: function (errors) {

            }
        });
    }

</script>

</body>