<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container-fluid col-md-12">

    <a class="btn btn-info btn-sm" onclick="showModal('add',0,'')">Add new address</a>

    <table class="table table-condensed table-hover table-bordered">
        <thead>
        <tr class="text-center">
            <th>Address</th>
            <th>TON</th>
            <th>NPI</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${smppAddresses.isEmpty()}">
            <td colspan="3" class="text-center"> No addresses available</td>
        </tr>
        <tr th:each="item:${smppAddresses}">
            <td>
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${item.address}"></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"
                               th:onclick="'showModal(\'edit\','+${item.smppAddressId}+')'"> edit</a>
                        </li>
                        <li><a href="#"
                               th:onclick="'showModal(\'delete\','+${item.smppAddressId}+')'"> delete</a>
                        </li>
                    </ul>
                </span>
            </td>
            <td>
                <span th:text="${item.ton}"></span>
            </td>
            <td>
                <span th:text="${item.npi}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalAddHeader"></h4>
            </div>
            <div class="form-horizontal modal-body">
                <input type="hidden" id="smppAddressId">
                <input type="hidden" id="accountId">
                <div class="form-group">
                    <label for="address" class="control-label col-sm-2">Address:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ton" class="control-label col-sm-2">TON:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control input-sm" id="ton">
                    </div>
                </div>
                <div class="form-group">
                    <label for="npi" class="control-label col-sm-2">NPI:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control input-sm" id="npi">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="saveElement()">Save</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4> Delete SMPP address?</h4>
                <input type="hidden" id="deleteSmppAddressId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="deleteElement()">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    function showModal(type, elementId, elementValue) {
        var modalWindow = $('#modalAdd');
        var addressIdEl = $('#smppAddressId');
        var addressEl = $('#address');
        var tonEl = $('#ton');
        var npiEl = $('#npi');
        var deleteSmppAddressId = $('#deleteSmppAddressId');
        var headerTextEl = $('#modalAddHeader');
        addressEl.val('');
        tonEl.val(0);
        npiEl.val(0);
        if (type === 'add') {
            headerTextEl.text('Add new SMPP address:');
        } else if (type === 'edit') {
            headerTextEl.text('Edit SMPP address:');
            addressIdEl.val(elementId);
            addressEl.val(elementValue);
        } else if (type === 'delete') {
            modalWindow = $('#deleteConfirm');
            deleteSmppAddressId.val(elementId);
        }
        modalWindow.modal('show');
    }

    function saveElement() {
        var accountId = $('#accountId').val();
        var addressId = $('#smppAddressId').val();
        var addressValue = $('#address').val();
        var tonValue = $('#ton').val();
        var npiValue = $('#npi').val();
        var data, url;
        url = "/smppAddress/save";
        data = {
            "smppAddressId": addressId,
            "address": addressValue,
            "ton": tonValue, "npi": npiValue,
            "accountId": accountId
        };
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: url,
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#modalAdd').modal('hide');
                window.location.reload();
            },
            error: function (errors) {

            }
        });
    }

    function deleteElement() {
        var data = {"smppAddressId": $('#deleteSmppAddressId').val()};
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/smppAddress/delete',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#deleteConfirm').modal('hide');
                window.location.reload();
            },
            error: function (errors) {

            }
        });
    }

</script>

</body>