<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <title>BulkSMS - accounts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style th:replace="fragments/head"></style>
    <style>
        /* define height and width of scrollable area. Add 16px to width for scrollbar          */
        div.tableContainer {
            clear: both;
            border: 1px solid #ccc;
            height: 285px;
            overflow: auto;
            width: 100%
        }

        /* Reset overflow value to hidden for all non-IE browsers. */
        html > body div.tableContainer {
            overflow: hidden;
            width: 100%
        }

        /* define width of table. IE browsers only                 */
        div.tableContainer table {
            float: left;
            /* width: 740px */
        }

        /* define width of table. Add 16px to width for scrollbar.           */
        /* All other non-IE browsers.                                        */
        html > body div.tableContainer table {
            /* width: 756px */
        }

        /* set table header to a fixed position. WinIE 6.x only                                       */
        /* In WinIE 6.x, any element with a position property set to relative and is a child of       */
        /* an element that has an overflow property set, the relative value translates into fixed.    */
        /* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */

        thead.fixedHeader tr {
            position: relative;
        }

        /* set THEAD element to have block level attributes. All other non-IE browsers            */
        /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */

        /* make the TH elements pretty */
        thead.fixedHeader th {
            background: #ccc;
            border: 1px solid #ccc;
            font-weight: normal;
            padding: 4px 3px;
            text-align: left
        }

        html > body tbody.scrollContent {
            display: block;
            height: 254px;
            overflow: auto;
            width: 100%
        }

        html > body thead.fixedHeader {
            display: table;
            overflow: auto;
            width: 100%
        }

        /* make TD elements pretty. Provide alternating classes for striping the table */
        /* http://www.alistapart.com/articles/zebratables/                             */
        tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
            background: #FFF;
            border-bottom: none;
            border-left: none;
            border-right: 1px solid #CCC;
            border-top: 1px solid #DDD;
            padding: 2px 3px 3px 4px
        }

        tbody.scrollContent tr.alternateRow td {
            background: #EEE;
            border-bottom: none;
            border-left: none;
            border-right: 1px solid #CCC;
            border-top: 1px solid #DDD;
            padding: 2px 3px 3px 4px
        }
    </style>
</head>

<body>

<div th:replace="fragments/navbar"></div>

<div class="container-fluid col-md-12">

    <div class="well well-sm">
        <a class="btn btn-info btn-sm" onclick="showModal('add',0)">Add Black List</a>
        <span class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">actions...
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" onClick="deleteSelected()">delete selected</a></li>
            </ul>
        </span>
    </div>

    <table class="table table-condensed table-hover table-bordered" id="blackListTable">
        <thead>
        <tr style="background-color: #ccc">
            <th><input type="checkbox" onClick="checkAll(this)"></th>
            <th>Black list name</th>
            <th>Account</th>
            <th>Numbers count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${blackLists.isEmpty()}">
            <td colspan="3">No black lists found</td>
        </tr>
        <tr th:each="item:${blackLists}">
            <td>
                <input type="checkbox" th:id="${'chbox'+item.blackListId}">
            </td>
            <td>
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${item.name}"></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"
                               th:onclick="'showModal(\'edit\','+${item.blackListId}+')'"> edit</a>
                        </li>
                        <li><a href="#"
                               th:onclick="'showModal(\'delete\','+${item.blackListId}+')'"> delete</a>
                        </li>
                    </ul>
                </span>
            </td>
            <td>
                <span th:text="${item.accountName}"></span>
            </td>
            <td>
                <a href="#" th:onclick="'editNumbers('+${item.blackListId}+')'">
                    <span class="badge" th:text="${item.numbersCount}"></span>
                    edit numbers
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalAddHeader"></h4>
            </div>
            <div class="form-horizontal modal-body">
                <input type="hidden" id="blackListId">
                <div class="form-group">
                    <label for="name" class="control-label col-sm-3">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" id="name">
                        <p class="error-message" id="nameMessageError"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="accountSelect" class="control-label col-sm-3">Account:</label>
                    <div class="col-sm-9">
                        <select id="accountSelect" class="form-control input-sm">
                        </select>
                        <p class="error-message" id="accountIdMessageError"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="saveElement()">Save</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4> Delete black list?</h4>
                <input type="hidden" id="deleteBlackListId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="deleteBlackList(false)">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="numbersModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4> Numbers list</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="addNumbersBLId">
                <div class="form-group tableContainer">
                    <table id="numbersTable" border="0" cellpadding="0"
                           cellspacing="0" width="100%" class="scrollTable">
                        <thead class="fixedHeader">
                        <tr>
                            <th style="width: 10%">#</th>
                            <th style="width: 60%">Number</th>
                            <th style="width: 30%"></th>
                        </tr>
                        </thead>
                        <tbody class="scrollContent">
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label>Add number</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-sm" id="numberToAdd">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-basic" onclick="addNumber()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label>Add from file</label>
                        <div class="input-group">
                            <input type="file" class="form-control input-sm" id="numbersSourceFile">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-basic" onclick="addNumbersFromFile()">Add</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-basic" onclick="deleteNumber(-1)">Clear all</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="saveNumbersList()">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript">

    let numberTableTotalRows = 0;

    function showModal(type, elementId) {
        let modalWindow = $('#modalAdd');
        const blackListIdEl = $('#blackListId');
        const nameEl = $('#name');
        const deleteBlackListId = $('#deleteBlackListId');
        const headerTextEl = $('#modalAddHeader');
        const accountSelEl = $('#accountSelect');
        blackListIdEl.val('');
        nameEl.val('');
        accountSelEl.find('option').remove();
        accountSelEl.append($('<option>', {
            value: '-',
            text: '--global--'
        }));
        if (type === 'add') {
            headerTextEl.text('Add new Black List:');
            appendAllAccounts();
        } else if (type === 'edit') {
            headerTextEl.text('Edit Black List:');
            blackListIdEl.val(elementId);
            appendAllAccounts();
            renderById(elementId);
        } else if (type === 'delete') {
            modalWindow = $('#deleteConfirm');
            deleteBlackListId.val(elementId);
        }
        modalWindow.modal('show');
    }

    function editNumbers(blackListId) {
        deleteNumber(-1);
        $('#addNumbersBLId').val(blackListId);
        const numbersTable = $('#numbersTable > tbody');
        $('#numbersSourceFile').val('');
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            url: "/blackList/getNumbersById",
            data: {"id": blackListId},
            success: function (result) {
                for (let i = 0; i < result.length; i++) {
                    if (result[i].length > 0) {
                        numbersTable.append(
                            createNumbersTableRow(i + 1, result[i])
                        )
                    }
                }
                numberTableTotalRows = result.length;
            },
            error: function () {
                alert('Internal server error');
            }
        });
        $('#numbersModal').modal('show');
    }

    function saveNumbersList() {
        const arr = $('#numbersTable > tbody tr').toArray();
        let numbersList = [];
        for (let i = 0; i < arr.length; i++) {
            numbersList.push(arr[i].children[1].innerHTML);
        }
        let data = {
            'blackListId': $('#addNumbersBLId').val(),
            'msisdns': numbersList
        };
        if (numbersList.length > 0) {
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url: "/blackList/addNumbersById",
                data: JSON.stringify(data),
                dataType: "JSON",
                success: function (result) {
                    if (result.valid) {
                        $('#numbersModal').modal('hide');
                        window.location.reload();
                    } else {
                        alert('invalid numbers');
                    }
                },
                error: function (errors) {
                    alert(errors);
                }
            });
        }
    }

    function createNumbersTableRow(index, value) {
        return (
            '<tr id="row' + index + '">' +
            '<td style="width: 10%">' + index + '</td>' +
            '<td style="width: 60%">' + value.trim() + '</td>' +
            '<td style="width: 28%">' + '<a href="#" onclick="deleteNumber(' + index + ')">delete</a></td>' +
            '</tr>'
        );
    }

    function addNumber() {
        const numberValue = $('#numberToAdd').val();
        if (numberValue !== '0') {
            const found = searchNumber(numberValue);
            if (found !== -1) {
                alert('Numbers exists: '+found);
                return;
            }
            $('#numbersTable > tbody').append(
                createNumbersTableRow(numberTableTotalRows + 1, numberValue)
            );
            numberTableTotalRows += 1;
        }
    }

    // returns a rowId, -1 if not found
    function searchNumber(valueToSearch) {
        if (valueToSearch === null || valueToSearch === '') {
            return -1;
        }
        const arr = $('#numbersTable > tbody tr').toArray();
        for (let i = 0; i < arr.length; i++) {
            if (arr[i].children[1].innerHTML === valueToSearch) {
                return arr[i].children[0].id;
            }
        }
        return -1;
    }

    function deleteNumber(rowId) {
        if (rowId === -1) { // all rows
            $('#numbersTable > tbody').empty();
            numberTableTotalRows = 0;
        } else {
            $('#row' + rowId).remove();
            refreshRowsCount();
        }
    }

    function refreshRowsCount() {
        const arr = $('#numbersTable > tbody tr').toArray();
        for (let i = 0; i < arr.length; i++) {
            arr[i].children[0].innerHTML = i + 1;
        }
        numberTableTotalRows = arr.length;
    }

    function addNumbersFromFile() {
        if (numberTableTotalRows > 0) {
            if (confirm('Delete existing numbers?')) {
                deleteNumber(-1);
            }
        }
        const numbersTable = $('#numbersTable > tbody');
        const regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        const sourceFile = $('#numbersSourceFile');
        if (regex.test(sourceFile.val().toLowerCase())) {
            if (typeof (FileReader) !== "undefined") {
                const reader = new FileReader();
                reader.onload = function () {
                    const values = this.result.split(/[\n,;]/);
                    for (let i = 0; i < values.length; i++) {
                        if (values[i].length > 0) {
                            numbersTable.append(
                                createNumbersTableRow(i + 1, values[i])
                            )
                        }
                    }
                    numberTableTotalRows = numberTableTotalRows + i + 1;
                };
                reader.readAsText(sourceFile[0].files[0]);
                sourceFile.val('');
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid CSV file.");
        }
    }

    function renderById(blackListId) {
        const accountSelectEl = $('#accountSelect');
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            url: "/blackList/getById",
            data: {"id": blackListId},
            success: function (result) {
                $('#blackListId').val(result.blackListId);
                $('#name').val(result.name);
                if (result.accountId) {
                    accountSelectEl.val(result.accountId);
                }
            },
            error: function () {
                alert('Internal server error');
            }
        })
    }

    function appendAllAccounts() {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            url: "/account/getAllNames",
            success: function (result) {
                $.each(result, function (i, item) {
                    $('#accountSelect').append($('<option>', {
                        value: item.accountId,
                        text: item.name
                    }))
                });
            }
        })
    }

    function saveElement() {
        clearErrors();
        const url = "/blackList/save";
        const accIdStr = $('#accountSelect').val();
        const accountId = accIdStr === '-' ? null : accIdStr;
        const data = {
            "blackListId": $('#blackListId').val(),
            "name": $('#name').val(),
            "accountId": accountId
        };
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: url,
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function (result) {
                if (result.valid) {
                    $('#modalAdd').modal('hide');
                    window.location.reload();
                } else {
                    $.each(result.errors, function (i, error) {
                        const element = $('#' + error.field + 'MessageError');
                        element.text(error.defaultMessage);
                        element.parent().addClass('has-error');
                    })
                }
            },
            error: function (errors) {
                alert(errors);
            }
        });
    }

    function clearErrors() {
        const sel = $("p[id*='MessageError']");
        sel.text('');
        sel.parent().removeClass('has-error');
    }

    function deleteBlackList(multi) {
        let data = [];
        if (multi) {
            data = multi;
        } else {
            data.push(+$('#deleteBlackListId').val());
        }
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/blackList/delete',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function (result) {
                $('#deleteConfirm').modal('hide');
                window.location.reload();
            },
            error: function (errors) {
                alert('Internal server error');
            }
        });
    }

    function checkAll(allElement) {
        $('[id^=chbox]').prop('checked', allElement.checked);
    }

    function deleteSelected() {
        let blackListIds = [];
        $('[id^=chbox]').each(function () {
            if (this.checked) {
                const blackListId = +this.id.substring(5);
                blackListIds.push(blackListId);
            }
        });
        if (blackListIds.length === 0) {
            alert('Nothing selected');
        } else {
            deleteBlackList(blackListIds);
        }
    }

    $(document).ready(function () {
        $('#blackListTable').DataTable();
    });

</script>

</html>