<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>BulkSMS - contacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style th:replace="fragments/head"></style>
</head>

<body>

<div th:replace="fragments/navbar"></div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/contact/groupList}">Groups</a></li>
            <li><a th:href="@{/contact/contactList}">Contacts</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid col-md-12">

    <div class="well well-sm">
        <a class="btn btn-info btn-sm" onclick="showModalGroup('add',0)">Add group</a>
    </div>

    <table class="table table-condensed table-hover table-bordered" id="groupTable">
        <thead>
        <tr style="background-color: #ccc">
            <th></th>
            <th>Group name</th>
            <th>Total contacts</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${groups.isEmpty()}">
            <td colspan="3" class="text-center"> No groups found</td>
        </tr>
        <tr th:each="group:${groups}">
            <td><input type="checkbox"></td>
            <td>
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       th:text="${group.groupName}"></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"
                               th:onclick="'showModalGroup(\'edit\','+${group.groupId}+')'"> edit</a>
                        </li>
                        <li><a href="#"
                               th:onclick="'showModalGroup(\'delete\','+${group.groupId}+')'"> delete</a>
                        </li>
                    </ul>

                </span>
            </td>
            <td>
                <span th:text="${group.totalContacts}"></span>
            </td>
            <td>
                <a href="#" th:onclick="'showModalContact('+${group.groupId}+')'">
                    add new contact
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="modalGroup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalAddHeader"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="groupId">
                    <input id="groupName" required="required" class="form-control">
                    <p class="error-message" id="groupNameMessageError"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="saveGroup()">Save</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="modalContact" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Add new contact:</h4>
            </div>
            <div class="form-horizontal modal-body">
                <div class="form-group">
                    <input type="hidden" id="contactGroupId">
                    <label for="firstName" class="control-label col-sm-3">First name:</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" required="required" class="form-control">
                        <p class="error-message" id="firstNameMessageError"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="control-label col-sm-3">Last name:</label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" required="required" class="form-control">
                        <p class="error-message" id="lastNameMessageError"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobilePhone" class="control-label col-sm-3">Mobile phone:</label>
                    <div class="col-sm-9">
                        <input type="text" id="mobilePhone" required="required" class="form-control">
                        <p class="error-message" id="mobilePhoneMessageError"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="saveContact()">Save</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalDeleteHeader"></h4>
                <input type="hidden" id="deleteId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="deleteGroup()">Ok</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    function showModalContact(groupId) {
        clearErrors();
        $('#contactGroupId').val(groupId);
        $('#modalContact').modal('show');
    }

    function showModalGroup(type, groupId) {
        clearErrors();
        var modalWindow = $('#modalGroup');
        var groupIdEl = $('#groupId');
        var groupNameEl = $('#groupName');
        var modalHeader = $('#modalAddHeader');
        var modalDeleteHeader = $('#modalDeleteHeader');
        var deleteIdEl = $('#deleteId');
        groupIdEl.val(0);
        deleteIdEl.val(0);
        groupNameEl.val('');
        modalHeader.text('');
        modalDeleteHeader.text('');
        if (type === 'add') {
            modalHeader.text('Add new group:');
        } else if (type === 'edit') {
            modalHeader.text('Edit group:');
            renderGroupById(groupId);
        } else if (type === 'delete') {
            modalWindow = $('#deleteConfirm');
            modalDeleteHeader.text('Delete group?');
            deleteIdEl.val(groupId);
        }
        modalWindow.modal('show');
    }

    function saveGroup() {
        clearErrors();
        var data = {
            "groupId": $('#groupId').val(),
            "groupName": $('#groupName').val()
        };
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "/contact/saveGroup",
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function (result) {
                if (result.valid) {
                    $('#modalGroup').modal('hide');
                    window.location.reload();
                } else {
                    $.each(result.errors, function (i, error) {
                        var element = $('#' + error.field + 'MessageError');
                        element.text(error.defaultMessage);
                        element.parent().addClass('has-error');
                    })
                }
            },
            error: function () {
                $('#modalGroup').modal('hide');
                alert('internal server error');
            }
        });
    }

    function saveContact() {
        clearErrors();
        var data = {
            "firstName": $('#firstName').val(),
            "lastName": $('#lastName').val(),
            "mobilePhone": $('#mobilePhone').val(),
            "groups": [{"groupId": $('#contactGroupId').val()}]
        };
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "/contact/saveContact",
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function (result) {
                if (result.valid) {
                    $('#modalContact').modal('hide');
                    window.location.reload();
                } else {
                    $.each(result.errors, function (i, error) {
                        var element = $('#' + error.field + 'MessageError');
                        element.text(error.defaultMessage);
                        element.parent().addClass('has-error');
                    })
                }
            },
            error: function () {
                $('#modalContact').modal('hide');
                alert('internal server error');
            }
        });
    }

    function clearErrors() {
        var sel = $("p[id*='MessageError']");
        sel.text('');
        sel.parent().removeClass('has-error');
    }

    function renderGroupById(id) {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            url: "/contact/getGroupById",
            data: {"id": id},
            success: function (result) {
                $('#groupId').val(result.groupId);
                $('#groupName').val(result.groupName);
            }
        })
    }

    function deleteGroup() {
        var data = {"groupId": $('#deleteId').val()};
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/contact/deleteGroup',
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function () {
                $('#deleteConfirm').modal('hide');
                window.location.reload();
            },
            error: function () {
                $('#deleteConfirm').modal('hide');
                alert('internal server error');
            }
        });
    }

    $(document).ready(function () {
        $('#groupTable').DataTable();
    });

</script>

</body>

</html>